Chatbot
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "type": "n8n-nodes-base.twilioTrigger",
      "typeVersion": 1,
      "position": [
        -2064,
        -1040
      ],
      "id": "cb68aa03-99fc-4556-a52b-ff12db881c04",
      "name": "Twilio Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "twilioApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Herd Twilio account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a filter generator for Attio CRM.\nWhen there is data asking about company name or mentioning company name refer to point (17.) and (19.) \nThe request: {{ $('Twilio Trigger').item.json.data.body }}\nThe current date: {{ $('Twilio Trigger').item.json.time }}\nCompany's record_id: {{ $json.output }}\n\nGiven a user’s natural language query, return a valid JSON filter object for an HTTP request to the Attio API.\n\nThe format must always be:\n{\n  \"filter\": {\n    ...\n  }\n}\n\n---\n\n### Rules\n\n1. Only output valid JSON — no explanations, no text outside the object.\n2. Do NOT include any “entity” key — it’s handled in the URL.\n3. Infer filters from the user’s natural language query.\n4. Use only the exact field names and spellings from the allowed ID list below.\n   - Never modify, singularize, pluralize, or auto-correct key names.\n   - Never invent new fields.\n5. Keys must be lowercase unless explicitly different in the ID list.\n6. Always infer context — if unsure, make a minimal, safe filter guess using only allowed IDs.\n7. Prefer fewer filters: if a query can reasonably be satisfied with only a name or single field, do not add extra filters unless explicitly required.\n8. For select or multi-select fields (like \"relationship_tier\", \"follow_up_action\"):\nand this is not a valid operator \"$like\".\n   - Only use valid value operators: \"$eq\", \"$in\", \"$starts_with\", \"$ends_with\", or \"$contains\".\n   - Never use \"$not_empty\" on these fields.\n   - Only include a \"follow_up_action\" filter if the user clearly specifies a particular action or keyword (e.g., “follow-up action equals meeting”).\n9. For text fields ( \"description\",  \"notes\", etc.):\n   - Wrap values in operator objects like:\n     - \"$eq\" for exact match\n     - \"$contains\" for partial match\n     - \"$starts_with\" or \"$ends_with\" for prefix/suffix filters\n    \n     - \"$not_empty\" may be used only for text-type fields (not select or date/time fields).\n\n10. For querying based on name:\nNote :never use filter based on $eq always  use $contains.\n    - Exact match:\n      {\n        \"filter\": { \"name\": \"John Smith\" }\n      }\n    - If name starts with:\n      {\n        \"filter\": {\n          \"name\": { \"first_name\": { \"$starts_with\": \"jo\" } }\n        }\n      }\n    - If last name is specified:\n      {\n        \"filter\": {\n          \"name\": { \"last_name\": { \"$not_empty\": true } }\n        }\n      }\n\n11. For nested fields (like \"primary_location.locality\" or \"email_addresses.email_address\"):\n    Use nested objects like:\n    {\n      \"primary_location\": {\n        \"locality\": { \"$contains\": \"new york\" }\n      }\n    }\n\n12. For date/time filters:\n    - For general dates (like \"date_met\" or \"last_communication\"):\n      • Use the format \"YYYY-MM-DD\" — no time or timezone.\n    - For \"follow_up_7\" use date format(YYYY-MM-DD) and \"last_communication'\" specifically:\n      • Always use full timestamp format: \"YYYY-MM-DDTHH:mm:ssZ\"\n      • Wrap time comparisons inside a \"value\" object.\n      • Example:\n        {\n          \"filter\": {\n            \"follow_up_7\": {\n              \"value\": {\n                \"$gte\": \"2025-10-23\",\n                \"$lte\": \"2025-10-30\"\n              }\n            }\n          }\n        }\n\n\n13. For multiple conditions, use logical operators:\n    - \"$and\" for combined filters:\n      {\n        \"filter\": {\n          \"$and\": [\n            { \"name\": { \"full_name\": { \"$eq\": \"John Smith\" } } },\n            { \"email_addresses\": { \"email_address\": { \"$eq\": \"john@smith.com\" } } }\n          ]\n        }\n      }\n    - \"$or\" for any-match conditions.\n\n14. IMPORTANT SPECIAL CASES:\n    - For queries like “When did I last talk to [Name]?” or similar phrasing:\n      • Only include a filter for the name (e.g. \"name.full_name\").\n      • DO NOT include \"last_communication\" or any date filters unless the user explicitly mentions a specific date or time range.\n    - For queries like “Any open promises to [Name]?” or similar:\n      • Only include a filter for the name unless a specific action is mentioned (e.g., \"follow_up_action\" = \"deck\" or \"article\").\n      • Avoid adding \"$not_empty\" or unnecessary conditions — the next LLM will refine the data further.\n\n15. Always return JSON in this structure:\n    {\n      \"filter\": { ... }\n    }\n\n---\n\n17.\nWhen any information about a company is required, run this:\n{\n  \"filter\": {\n    \"company\": {\n      \"target_object\": \"companies\",\n      \"target_record_id\": \"{{ $json.output }}\"\n    }\n  }\n}\nNo need to add extra filters — they will be adjusted in the next LLM node until mandatory.\n\n18.\n\"Relationship going cold\" means there has been no communication or the last communication date is beyond the specified time.\n\n19.\nIf a name is mentioned, filter based on the name only, not the company — the next LLM will handle company extraction.\n\n---\n\n### 🆕 20. Smart Context Handling\nIf the query asks **which company a person works at** (e.g., “In which company does Hassan Ahmad work?”):\n- Only filter by the person’s name (e.g., `\"name.full_name\": \"Hassan Ahmad\"`).\n- Do **not** include the company filter or record_id here.\n- The following LLMs and API steps will automatically resolve and attach company information.\n\n---\n21.if  question is asked about :What book did [Name] recommend?\nWho should intro me to [Target Person]?”\nWho introduced me to [Name]?\nor questions like this  filter based on name \n\n22. If questions asked about  fundraise in last 90 days or something like that filter based on event_name and event_date.\ndetermine the event fromthe queries lke birthdays and anniversaries e.t.c and based on the questioon apply filter on slufs.\n### Allowed Field IDs\n\n23. if the question is about tags like\nContacts tagged ‘VIP or something like that  use this json body :remember dont use filter fo tags just use the json body with name replaced no other modification needed\n{\n  \"filter\": {\n    \"tags\": \"vip\"\n  }\n}\n\n24.if  something like this is asked:friends from college  then filter based on  relationship   for example filter for freinds in relationship.\nremember the  difference between relationship and relationship_tier\n\n25.For te questions like :peole met at certain event at certain date  who are not contacted  then apply filter for the event date and event_name  and contacted yes/no based on the question.like this\n{\n  \"filter\": {\n    \"$and\": [\n      {\n        \"event_name\": {\n          \"$contains\": \"birthday\"\n        }\n      },\n      {\n        \"event_date\": {\n          \"value\": {\n            \"$eq\": \"2025-10-31\"\n          }\n        }\n      },\n      {\n        \"contacted\": {\n          \"$eq\": \"no\"\n        }\n      }\n    ]\n  }\n}\n\n\n\n\nrecord_id  \nrecord  \njob_title  \nrelationship_tier  \nfollow_up_action  \nlast_communication   -- timestamp, format correctly  \ndate_met  \nfollow_up_7  \nemail_addresses  \nlinkedin  \ntags  \ndescription  \nprimary_location  \nphone_numbers  \nname  \ncompany  \nnotes\nevent_name\nevent_date (date formatted)\nevent_place\ntags\ninterest\nrelationship",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        880,
        -288
      ],
      "id": "3003c2f4-8043-4830-949e-ec2cfb0fb6a8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        144
      ],
      "id": "fed14ce1-9c19-45e4-969b-ce33e26721ab",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ALways run both http requests  \nananlyze the question :\n{{ $('Twilio Trigger').item.json.data.body }}  ,\nrun the query given by the llm chain:\n{{ $('Basic LLM Chain').item.json.text }}\nand run the person data and company association and then format and return te result based on the given question\nfor instance the current date is\n{{ $('Twilio Trigger').item.json.time }}\nfor the last touch to some company return the last_communication date  associated to the person wiht the company\n.\nIf the person data returns data on asking for tagged person then  add a note in the  output that the tag name does not exist.\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1248,
        -288
      ],
      "id": "01b3249a-49ec-44c6-b16f-5a81e31b0c08",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "from": "+15555555555",
        "to": "={{ $('Twilio Trigger').item.json.data.from }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2432,
        -592
      ],
      "id": "a8900611-6b17-4bcf-bda9-e89e1fe1f7b0",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Herd Twilio account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nrun the https tool HTTP Request 2 and return the output of Http response data object  record_id only output record_id nothing else\nif there are multiple object ids return the first one.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        -288
      ],
      "id": "b8c0d86e-ec7c-4c2e-ac7b-0d830b40c1fe",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= extract company info from the fields: \"{{ $('Twilio Trigger').item.json.data.body }}\" output just the company name nothing else.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -32,
        -288
      ],
      "id": "1a6ebc4b-ff43-4958-bdf2-60e019a18d97",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/companies/records/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"name\": {\n      \"value\": {\n        \"$contains\": \"{{ $json.text }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        432,
        -144
      ],
      "id": "e3ab4d74-d611-4f36-bedf-3bcd9ac89d8b",
      "name": "Company record ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/companies/records/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"record_id\": {\n      \"$in\": [\"{{ $('AI Agent1').item.json.output }}\"]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1392,
        -64
      ],
      "id": "a929b0b1-22f4-4874-957b-163cd5de7904",
      "name": "company association"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/people/records/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Basic LLM Chain').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1488,
        -64
      ],
      "id": "4c51f34b-e3e9-4ed7-89e6-9bb9b484f8e5",
      "name": "person data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}......make this response pretty  no tables just messaging format  you can try bullets for details.\njust output the  refined output nothing else like here is the refined output or describing text ,just  make the text pretty",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1584,
        -288
      ],
      "id": "04380abe-18d4-4de5-ac96-00cae3941d05",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate the question ({{ $('Twilio Trigger').item.json.data.body }}) and output a single digit number only, based on the following strict rules:\n\nRules:\n1. Return 1 → Only if the question is asking specifically for the *company name* where a person works.\n   Examples:\n   - \"In which company does [Name] work?\"\n   - \"What company is [Name] at?\"\n   - \"Where does [Name] work?\"\n   - \"Find the company of [Name].\"\n\n   (⚠️ Do NOT return 1 if the question also asks for role, title, city, or other profile details.)\n\n2. Return 0 → For any other general or unrelated question, including:\n   - “What’s [Name]’s role, company, city?”\n   - “Fundraise for 90 days”\n   - “Show LinkedIn data” or anything that’s not purely about the company name.\n\n3. Return 3 → For questions about social or behavioral info, such as:\n   - “What has [Name] been posting about on LinkedIn?”\n   - “Job changes this month?”\n   - “Mutuals between me and [Name]?”\n   - “What are [Name]’s recent activities?”\n\nReturn only the number (1, 0, or 3). No words, explanations, or punctuation.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1344,
        -336
      ],
      "id": "bd43406d-1409-47be-b8e4-c32af8ab7eff",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Basic LLM Chain3').item.json.text }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "337db311-bd90-42fc-9326-f351806d5fc7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rest cases"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "70578351-1f7e-412b-bd15-bad05e8c4a47",
                    "leftValue": "={{ $('Basic LLM Chain3').item.json.text }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "person in []company"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87baf02f-5e2c-4ba9-8445-d8e638b7ad67",
                    "leftValue": "={{ $('Basic LLM Chain3').item.json.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "linkedin"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -688,
        -352
      ],
      "id": "f2ef2b9c-9df3-47b5-907e-9683c0aa140f",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze:{{ $('Twilio Trigger').item.json.data.body }}\nextract the name from the  question and place in this json body and return this nothing else other than the json body should be returned :\n{\n  \"filter\": {\n    \"name\": {\n      \"full_name\": {\n        \"$contains\": \"jhon doe\"\n      }\n    }\n  }\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1040,
        -336
      ],
      "id": "b75787fe-6f5b-4229-b107-55f3eff30199",
      "name": "Basic LLM Chain5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/people/records/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Basic LLM Chain5').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -592
      ],
      "id": "a6e3f7df-51d6-406d-af53-d88fa18d4314",
      "name": "get record2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/companies/records/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"associated_company\": [\n    {\n      \"target_record_id\": \"{{ $json.data[0].values.company[0].target_record_id }}\",\n      \"target_object\": \"companies\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -592
      ],
      "id": "076b80a6-efb5-437f-978e-9ba02c1ae880",
      "name": "get Company",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=this te qustion to analyze, given :(\n{{ $('Twilio Trigger').item.json.data.body }}\n)\n company association is:{{ $json.data[7].values.name[0].value }}\n\nand return the answer the question in a pretty output.\njust output the answer this is to be sent over",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        656,
        -592
      ],
      "id": "62778c9e-581d-46a2-91d2-f855edcaf8f8",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/companies/records/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"record_id\": {\n      \"$in\": [\"{{ $('get record2').item.json.data[0].values.company[0].target_record_id }}\"]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        800,
        -464
      ],
      "id": "2a670eff-77cb-4638-96e8-9246b4b37332",
      "name": "company association1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/people/records/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Basic LLM Chain5').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        896,
        -464
      ],
      "id": "b86e12e5-45b4-4cf7-b76a-3decaff7efa2",
      "name": "person data1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/people/records/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Basic LLM Chain5').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        400
      ],
      "id": "838f8b1b-e322-46a5-9de0-5539a1fd04d9",
      "name": "get record4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d768dd0-7ecd-4d03-a5de-13596b1650ed",
              "leftValue": "={{ $json.data[0].values.linkedin[0].value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        400
      ],
      "id": "8369eeb4-47f5-4a61-9042-721d8cb61a70",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze: \"{{ $('Twilio Trigger').item.json.data.body }}\"\n\nRules:\n1. If the question is something like \"What has [Name] been posting about on LinkedIn?\" → return 1\n2. If the question is something like \"Job changes this month?\" → return 2\n3. If the question is something like \"Mutuals between me and [Name]?\" → return 3\n\nNote: Only return a single digit (1, 2, or 3). Return nothing else — no words, symbols, or explanations.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        432,
        416
      ],
      "id": "2268d3e6-5f59-4027-85aa-e6a60b9f2336",
      "name": "Basic LLM Chain9"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Basic LLM Chain9').item.json.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f95bae7-f070-4066-9507-66fec6ed58b8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0b616228-d58a-4ae2-bd9d-9e92a65f1de6",
                    "leftValue": "={{ $('Basic LLM Chain9').item.json.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7564c579-60e6-4230-b90a-0482f9a5c81e",
                    "leftValue": "={{ $('Basic LLM Chain9').item.json.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        768,
        432
      ],
      "id": "d478b7fb-b851-4bcb-8303-2843214b79c4",
      "name": "Switch1"
    },
    {
      "parameters": {
        "execution": {},
        "linkedinUrl": "=https://www.linkedin.com/in/username/"
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        1168,
        784
      ],
      "id": "8c565825-d850-43e5-aaa4-fbb705df0d34",
      "name": "Check if a person is a connection",
      "credentials": {
        "browserflowApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Browserflow account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "scrapePosts",
        "execution": {},
        "limit": 5,
        "linkedinUrl": "https://www.linkedin.com/in/username/"
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        1152,
        432
      ],
      "id": "91a57170-09c4-456e-8a73-839b7d7347e4",
      "name": "Scrape linkedin posts",
      "credentials": {
        "browserflowApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Browserflow account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e94ee1b-435f-4ed7-8daa-23db26e0f034",
              "leftValue": "={{ $json.message }}",
              "rightValue": "Successfully checked connection status; You are connected",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        784
      ],
      "id": "e1ffde1a-447c-4e65-a839-5bc8efc395a6",
      "name": "If2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze: \"What is the Hassan past job roles \"\n\nanalyze the results in a suitably according to the question.\nif question is about posts then use point 1 if ir is  about job roles or experience then point 2. list and summarizr the data\n1.\nlinked scraped posts:{{ $json.data[0].content }},{{ $json.data[1].content }},{{ $json.data[2].content }},{{ $json.data[3].content }},{{ $json.data[4].content }},{{ $json.data[5] }}\n2.\nlinked job/experience:current company:{{ $json.data.current_company }}{{ $json.data.experience[0].company_name }}\nlinked connection:{{ $json.data.experience[1].job_title }}{{ $json.data.experience[1].company_name }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1360,
        544
      ],
      "id": "94a661a2-e784-4d81-b734-437271c0e24b",
      "name": "Basic LLM Chain10",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getProfileData",
        "execution": {},
        "linkedinUrl": "=https://www.linkedin.com/in/username/"
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        1152,
        624
      ],
      "id": "a0bf6df8-b28c-4c3f-9011-17fafa05ceec",
      "name": "Get data from a linkedin profile",
      "credentials": {
        "browserflowApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Browserflow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendConnectionInvite",
        "execution": {},
        "linkedinUrl": "=https://www.linkedin.com/in/username/"
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        1824,
        800
      ],
      "id": "3098b3a4-9116-4aad-8090-14cbd593161f",
      "name": "Send a linked in connection invite",
      "credentials": {
        "browserflowApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Browserflow account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "from": "+15555555555",
        "to": "+15555555555",
        "message": "=No linked in profile found ",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        448,
        736
      ],
      "id": "f46da092-dabf-44e7-b1b2-737232223e0c",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Twilio account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "+15555555555",
        "to": "+15555555555",
        "message": "=linkedin coonection invite was sent as the person was not a connection ",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2176,
        880
      ],
      "id": "ae3051f1-c4b2-4c6f-9487-22bceb96eb29",
      "name": "Send an SMS/MMS/WhatsApp message2",
      "credentials": {
        "twilioApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Twilio account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a97620b4-483f-49a5-af1c-aa22850f6169",
              "name": "text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -592
      ],
      "id": "5331c41a-87b4-4221-94dd-382838663afe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "What's in this image? extract for .name, job position, phone number, email address, website, company name, address and ,instagram, linkedin.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1056,
        -1056
      ],
      "id": "cce74ee1-ec47-4661-9374-f57655bdb8df",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -192,
        -816
      ],
      "id": "8c77957c-4a33-4c4d-bccf-e5803cfb0434",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b886749f-5f8e-49f3-b133-f982fe6e84a9",
              "leftValue": "={{ $json.text }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        -1056
      ],
      "id": "d8728326-8e78-44af-a464-1db04970437a",
      "name": "couldn't read text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aee223cc-a770-491d-af6d-7a9ec9fb72e9",
              "leftValue": "={{ $json.text }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        -1040
      ],
      "id": "a1eb6c61-181c-451b-8dc2-84a4ac11b897",
      "name": "no email"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a text cleaner and summarizer.\n\nYou will receive this input:\nInput: {{ $('Format Json').item.json.text }}\n\nYour task:\n- Remove any JSON formatting, code blocks, brackets, or markdown syntax.  \n- Do not output any JSON structure or braces `{}`.  \n- Extract only meaningful information.  \n- Present the final output in clean, human-readable bullet points (•).\n- Keep only clear, relevant content — remove labels like \"key:\", \"value:\", \"field:\", etc.\n- If the input contains text like ```json ... ``` or fenced code blocks, remove them entirely.\n- Do not add commentary or introductions.\n\nOutput format:\n• point one  \n• point two  \n• point three  \n\nOnly output the cleaned bullet points — nothing else.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        416,
        -1024
      ],
      "id": "dab5d765-a9fe-4d04-b4af-9d2b039bc331",
      "name": "Beautify for confirmation"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data-cleaning assistant.  \nYou will receive raw text input in this variable:\nInput: {{ $('Categorize based on LLM Response data').item.json.text }}\n\nYour task:\n- Use the following JSON body as the template.  \n- Replace `\"...\"` with the actual values extracted from the input.  \n- Remove any fields that are missing, not visible, or not mentioned in the input.  \n- If a field is missing, delete that entire key from the JSON.  \n- Do not include ```json, code blocks, or any extra text — output only the final JSON body.\n\nJSON Body:\n{\n  \"data\": {\n    \"values\": {\n      \"phone_numbers\": [\n        {\n          \"original_phone_number\": \"...\",\n          \"country_code\": \"US\"\n        }\n      ],\n      \"email_addresses\": [\"...\"],\n      \"name\": \"...\",\n      \"primary_location\": \"...\",\n      \"linkedin\": \"...\",\n      \"instagram\": \"...\"\n    }\n  }\n}\n\n### Additional Rules:\n\n1. **Email is mandatory**\n   - If the email address is missing or not found, remove all other fields and output only:\n     {\"data\":{\"values\":{\"email_addresses\":[\"email\"]}}}\n\n2. **Phone number normalization**\n   - If no phone number is given, remove the `\"phone_numbers\"` field entirely.\n   - If multiple are given, keep only the first one.\n   - Remove all spaces, periods, hyphens, or special characters inside the number.\n   \n  \n\n3. **LinkedIn formatting**\n   - If input includes only a path like `/in/username` or `in/username`, convert to:\n     `https://www.linkedin.com/in/username`\n   - If it already starts with `http`, keep it as is.\n\n4. **Instagram formatting**\n   - If input includes only a username or `/username`, convert to:\n     `https://www.instagram.com/username`\n   - If it already starts with `http`, keep it as is.\n\n5. **Field visibility rule**\n   - If a value like address, LinkedIn, or Instagram is not given or visible in the input, remove its key entirely from the JSON.\n\n6. **Output strictly**\n   - Output only the cleaned JSON body.\n   - No markdown, no extra commentary, no backticks.\n   - The final result must be valid JSON.\n\nNow process the input accordingly.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        48,
        -1024
      ],
      "id": "0de08eb2-72e7-4e0e-ad07-c523a8d4f1f3",
      "name": "Format Json"
    },
    {
      "parameters": {
        "from": "+15555555555",
        "to": "={{ $('Twilio Trigger').item.json.data.from }}",
        "message": "⚠️ Couldn't read text. Please resend with a clear picture.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        0,
        -1376
      ],
      "id": "01e769a2-5ef9-4679-9f40-ca02baa656bf",
      "name": "Send /Invalid data",
      "credentials": {
        "twilioApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Herd Twilio account 3"
        }
      }
    },
    {
      "parameters": {
        "from": "+15555555555",
        "to": "={{ $('Twilio Trigger').item.json.data.from }}",
        "message": " ⚠️ Couldn't read email try again.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        48,
        -1216
      ],
      "id": "e3324d69-3813-468c-b239-0c29ebb3d77d",
      "name": "Send no email",
      "credentials": {
        "twilioApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Herd Twilio account 3"
        }
      }
    },
    {
      "parameters": {
        "from": "+15555555555",
        "to": "={{ $('Twilio Trigger').item.json.data.from }}",
        "message": "=✅Data Saved Successfully.\n{{ $('Beautify for confirmation').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1168,
        -1168
      ],
      "id": "50210038-91b4-4e83-9edf-32987debcb59",
      "name": "Send Succes / Confirmation",
      "credentials": {
        "twilioApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Herd Twilio account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[https://api.attio.com/v2/objects/people/records](https://api.attio.com/v2/objects/people/records)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Format Json').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        -1024
      ],
      "id": "5e8f8fc1-274e-467a-9473-ee7b8ee40da6",
      "name": "Attio (Image)Data dump",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=[https://api.twilio.com/2010-04-01/Accounts/](https://api.twilio.com/2010-04-01/Accounts/){{ $json.data.accountSid }}/Messages/{{ $json.data.messageSid }}/Media.json\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        -1056
      ],
      "id": "dd51b612-8762-4e5a-9e95-2e0e81543424",
      "name": "Get message from Twilio",
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "=[https://api.twilio.com](https://api.twilio.com){{$json[\"media_list\"][0][\"uri\"].replace(\".json\", \"\")}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        -1056
      ],
      "id": "ac000e9b-ca2e-4b6e-bc0e-e14878c7fb58",
      "name": "Get metadata for message",
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "content": "# left out for clay (linked in questions)",
        "height": 816,
        "width": 2544,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        288
      ],
      "typeVersion": 1,
      "id": "44eec79c-6dd0-4827-9326-0128736132f6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Image / MMS --Processing\n",
        "height": 768,
        "width": 3072,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        -1440
      ],
      "typeVersion": 1,
      "id": "9bde9689-f1a1-40df-a399-b375431b5a3e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "from": "+15555555555",
        "to": "={{ $('Twilio Trigger').item.json.data.from }}",
        "message": " ⚠️  A contact already exits with the same email.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1168,
        -928
      ],
      "id": "46a50bfa-deb0-4d4e-af10-2aaf0e382d84",
      "name": "Send no email1",
      "credentials": {
        "twilioApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Herd Twilio account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa143f1f-b723-4227-a337-bff37d1e086c",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": " conflicts with one already in the system",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        -912
      ],
      "id": "8aec9f80-d2c2-4389-a668-bb9d723353a8",
      "name": "If5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[https://api.attio.com/v2/objects/people/records](https://api.attio.com/v2/objects/people/records)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Format Json').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        -736
      ],
      "id": "30de5de5-c86e-4273-8f31-67cf18386d9c",
      "name": "Attio (Image)Data dump1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ec54177-3bc5-4765-a9e3-ab30229a8e3e",
              "leftValue": "={{ $json.data.numMedia }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1712,
        -1040
      ],
      "id": "f284b3ee-ec65-437d-b658-9b5459dc8d4a",
      "name": "If Images"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict content validator.\n\nIf the provided content (`{{ $json.content }}`) contains phrases like:\n- \"Sorry, could not process\"\n- \"I can't assist with that\"\n- \"I cannot help with that\"\n- \"Unable to process information\"\n- or if it clearly has no useful or meaningful extracted information\n\n→ Then output exactly: **no**\n\nIf the content is meaningful and valid (contains real extracted or helpful information), output it **exactly as it is** — do not add any extra text.\n\nAdditionally, if the email address is missing or not provided in the content, output exactly: **email**\n\nOtherwise, pass through the content unchanged.\n\nContent to process:\n{{ $json.content }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -848,
        -1056
      ],
      "id": "14b15052-aab6-41c6-b87e-e3c0e62b0319",
      "name": "Categorize based on LLM Response data"
    }
  ],
  "connections": {
    "Twilio Trigger": {
      "main": [
        [
          {
            "node": "If Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain5",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain10",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain9",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company record ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "company association": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "person data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get record2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get record4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain5": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get record2": {
      "main": [
        [
          {
            "node": "get Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Company": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company association1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "person data1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get record4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain9": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Scrape linkedin posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get data from a linkedin profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if a person is a connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if a person is a connection": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape linkedin posts": {
      "main": [
        [
          {
            "node": "Basic LLM Chain10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Send a linked in connection invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain10": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get data from a linkedin profile": {
      "main": [
        [
          {
            "node": "Basic LLM Chain10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a linked in connection invite": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Categorize based on LLM Response data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Format Json",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Categorize based on LLM Response data",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Beautify for confirmation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "couldn't read text": {
      "main": [
        [
          {
            "node": "Send /Invalid data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no email": {
      "main": [
        [
          {
            "node": "Send no email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beautify for confirmation": {
      "main": [
        [
          {
            "node": "Attio (Image)Data dump",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Json": {
      "main": [
        [
          {
            "node": "Beautify for confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attio (Image)Data dump": {
      "main": [
        [
          {
            "node": "Send Succes / Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message from Twilio": {
      "main": [
        [
          {
            "node": "Get metadata for message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get metadata for message": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Send no email1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attio (Image)Data dump1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Images": {
      "main": [
        [
          {
            "node": "Get message from Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize based on LLM Response data": {
      "main": [
        [
          {
            "node": "couldn't read text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Twilio Trigger": [
      {
        "specversion": "1.0",
        "type": "com.twilio.messaging.inbound-message.received",
        "source": "/2010-04-01/Accounts/AC00000000000000000000000000000000/Messages/SM00000000000000000000000000000000.json",
        "id": "EZ1a9d8faa9967e5e5aa1c8a4bb28eaa18",
        "dataschema": "[https://events-schemas.twilio.com/Messaging.InboundMessageV1/6](https://events-schemas.twilio.com/Messaging.InboundMessageV1/6)",
        "datacontenttype": "application/json",
        "time": "2025-11-04T18:16:47.595Z",
        "data": {
          "fromState": "IN",
          "numMedia": 0,
          "toZip": "11786",
          "timestamp": "2025-11-04T18:16:47.595Z",
          "fromCity": "",
          "recipients": [],
          "accountSid": "AC00000000000000000000000000000000",
          "to": "+15555555555",
          "toCountry": "US",
          "toState": "NY",
          "fromCountry": "US",
          "numSegments": 1,
          "messageSid": "SM00000000000000000000000000000000",
          "eventName": "com.twilio.messaging.inbound-message.received",
          "body": "Who is huzaifa",
          "toCity": "SHOREHAM",
          "from": "+15555555555"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4e88c6d50dec613d6bb75dff41c019926078820d4261bc53b2a16cb99f7fe19"
  }
}
